@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root{
    --text-color:#2b2c34;
    --secondary-text-color:#8F928F;
    --main-bg-color:#FFFFFE;
    --primary-highlight-color: #6246EA;
    --tertiary-color:#e45858;
    --green-color:#1DEE85;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins',sans-serif;
}

.wrapper{
    background-color: var(--main-bg-color);
}

/* Navbar styles*/

.navbar{
    height: 55px;
    padding: 1.5em 0em 0em 0em;
    background-color: var(--main-bg-color);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content:space-between;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.12); 
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
}

.burger-menu{
    width: 35px;
    display: none;
    cursor: pointer;
    align-items: center;
}

.uno, .dos, .tres{
    width: 100%;
    background-color: var(--primary-highlight-color);
    height: 4px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.burger-back{
    width: 50px;
    height: 50px;
    background-color: var(--tertiary-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.dos{
    margin: 5px 0;
}

.is-active .dos{
    opacity: 0;
}

.is-active .uno{
    /*background-color: var(--green-color);*/
    transform: rotate(45deg) translate(5px, 5px);
    -webkit-transform: rotate(45deg) translate(5px, 5px);
    -moz-transform: rotate(45deg) translate(5px, 5px);
    -ms-transform: rotate(45deg) translate(5px, 5px);
    -o-transform: rotate(45deg) translate(5px, 5px);
}

.is-active .tres{
    /*background-color: var(--green-color);*/
    transform: rotate(-45deg)translate(8px, -8px);
    -webkit-transform: rotate(-45deg)translate(8px, -8px);
    -moz-transform: rotate(-45deg)translate(8px, -8px);
    -ms-transform: rotate(-45deg)translate(8px, -8px);
    -o-transform: rotate(-45deg)translate(8px, -8px);
}






/*Navbar shadow on scroll*/
.navbar-shadow{
    z-index: +2;
    box-shadow: 0 10px 10px rgba(0,0,0,0.12);
}

.icon{
    object-fit: cover;
    width: 50px;
    height: 50px;
    margin: -1.25em 0 0 0.625em;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: end;
    width: 100%;
}

.menu li{
    list-style: none;
}

.menu li a{
    padding: 0 3em 1.5em 2em;
}

.option-hide{
    display: none;
}

.menu a{
    color: var(--primary-highlight-color);
    text-decoration: none;
    font-weight: 700;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.menu a:hover{
    color: var(--tertiary-color);
}

/*End Navbar styles*/

/*Main Styles - Image - Text*/

.main{
    margin-top: auto auto;
    width: 100vw;
    height:90vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

.info-content{
    margin-left: 3%;
}

.img-main {
    width: 22%;
    border: 5px solid var(--green-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.name{
    color:var(--text-color);
    font-size: clamp(4vw, 3em, 4em); /*Responsive fontsize*/
    font-weight: 600;
}

.frontend-dev-text{
    font: clamp(4vw, 3.5em, 4em);
    font-style: italic;
    font-weight: 400;
    color: var(--secondary-text-color);
}


.download-cv{
    margin-top: 20px;
    font-family: inherit;
    font-weight: 700;
    border: none;
    background-color: var(--green-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.download-cv:hover{
    background-color: var(--tertiary-color);
    color: var(--main-bg-color);
}

    /*Links de contacto*/

.contact-links{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin: 10px 20px 10px 0;
}

.LinkedIn{
    max-width: 3.125rem;
    margin-right: 0.3125em;
}

.Git{
    max-width: 3.125em;
    margin-left: 0.3125em;
}

/*End Home Styles*/

/*About Me Styles*/

.about{   
    width: 85vw;
    min-height: calc(100vh - 79px);
    margin: auto auto;
    grid-template-columns: repeat(2,1fr);
    /*grid-template-rows: repeat(auto-fill, minmax(4, auto));*/
    display: grid;
    grid-gap: 1.25rem;
    align-items: flex-start;
}

.about img{
    width: 40vw;
    grid-column: 1;
    filter: brightness(60%);
    -webkit-filter: brightness(60%);
    background-attachment: fixed;
}

.about-info{
    margin-top: 2.5em;
}

.divider{
    height: 0.375em;
    width: 4em;
    margin: 10px 0 10px 0;
    background-color: var(--primary-highlight-color);
}

.about-description{
    margin: 1.875em 0 1.875em 0;
    font-size: clamp(1rem, 1vw, 2em); /*Responsive fontsize*/
}

.soft{
    margin-top: 1.25em;
    width: 80%;
}

.soft-skill{
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    background-color: var(--green-color);
    color: var(--text-color);
    border-radius: 0.3125em;
    padding: 0.625em 1.25em;
    margin: 0.9375em 0.625em;
    border: none;
    -webkit-border-radius: 0.3125em;
    -moz-border-radius: 0.3125em;
    -ms-border-radius: 0.3125em;
    -o-border-radius: 0.3125em;
}

/*End About Me styles*/

/*Formación Styles*/

.formacion_div{
    height: 3em;
    width: 100vw;
}

#formacion-div{
    text-align: end;
}

.formacion{
    width: 96%;
    display: flex; 
    flex-direction: column;
    margin: 1.875em auto 2em auto;
}

.container-1{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: baseline;
}

.formacion-h2{
    margin: 0.9375em 0 1.25em 0;
    color: var(--text-color);
    text-align: left;
}

.formacion p{
    font-weight: 400;
    font-size: .9em;
}

.formacion span{
    color:var(--secondary-text-color);
    font-style: italic;
    font-weight: 300;
    font-size: 0.75em;
}

.coder-logo{
    height: 40px;
}

.logo-fcc-1{
    height: 50px;
}

.logo-fcc-2{
    width: 40px;
}

/*Idiomas*/

.container-2{
    display: flex;
    column-gap: 60px;
    margin: 20px auto 50px 7%;
}

.idiomas{
    color: #2b2c34;
}

/*Que puedo hacer*/

.que-hacer-h2{
    color: var(--text-color);
}

.que-hacer{
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-around;
}

.que-hacer li{
    font-size: 1em;
    list-style-type:circle;
}

.dev-image{
    max-height: 200px;
    margin-top: -80px;
}

.divisor{
    width: 100%;
    height: 20px;
    position: relative;
    margin: 20px auto;
    border-bottom: dashed 5px var(--green-color);
}
    /*skills*/

.skills{
    margin: auto auto;
    min-height: calc(100vh - 79px);
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.skills-text{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content:flex-start;

}

.tecnologias{
    width: 100%;
    display: grid;
    grid-auto-rows:15vw;
    gap: 1vw;
    grid-template-columns: repeat(auto-fill, minmax(10vw, 1fr));
}

.skill-img{
    width:60px;
    margin: 10px;
}

#reactIcon{
    margin-top: 12px;
}

#figma-img{
    width: 50%;
}

.round{
    background-color:var(--text-color);
    border-radius: 10px;
    width: 80px;
    height: 80px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.12);
    margin: auto 5% auto 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.round:hover{
    box-shadow: 10px 20px 20px rgba(0,0,0,0.12);
    transform: translateY(-3%);
    -webkit-transform: translateY(-3%);
    -moz-transform: translateY(-3%);
    -ms-transform: translateY(-3%);
    -o-transform: translateY(-3%);
    background-color: var(--primary-highlight-color);
}

/*Contact Section*/

.contact-section{
    min-height: calc(100vh - 79px);
    background: linear-gradient(110deg, white 0%, white 50%, #2b2c34 50%, #2b2c34 100%);
}

.contact-container{
    width: 80%;
    margin: auto auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-head{
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    font-size: 3em;
}

.contact-head h2{
    color: var(--text-color);
}

.form-toggle{
    display: flex;
    flex-direction: column;
}

.form-toggle-hide{
    display: none;
}

.contact-form{
    display: flex;
    width: 25vw;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.email-sent{
    display: none;
}

.email-sent-toggle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    margin: auto auto;
    color: var(--main-bg-color);
}



.email-sent-toggle h1{
    margin: 20px auto;
    font-size: 2.5em;
}

.email-sent-toggle img{
    width: 60px;
}

.email-sent-toggle p{
    margin: 10px auto;
    font-size: 17px;
    font-weight: 200;
}



.contactar-datos-name, .contactar-datos-email{
    padding: 10px 20px;
    margin-bottom: 2em;
    background: none;
    border: none;
    border-bottom: 1px solid var(--green-color);
    color: var(--main-bg-color);
    font-size: 1em;
    outline:none;
}

.contact-form input::placeholder{
    font-family: 'Poppins',sans-serif;
    opacity: 50%;
    color:var(--main-bg-color);
}

.contactar-datos-error{
    border: 3px solid var(--tertiary-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.email-error{
    display: none;
    color: var(--tertiary-color);
    font-size: 12px;
    margin: 0;
    margin-top: -25px;
}

.email-error-active{
    display: flex;
    justify-content: flex-start;
}

.contact-form textarea{
    margin-left: 20px;
    font-family: 'Poppins',sans-serif;
    font-size: 1em;
    color:var(--main-bg-color);
    background: none;
    border: none;
    outline: none;
    width: 100%;
    resize: none;
    margin: 20px auto;
}

.contact-form textarea:focus{
    border-bottom: 1px solid var(--green-color);
    transition: all 3s ease-in-out;
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -ms-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
}

.contact-form textarea::placeholder{
    font-family: 'Poppins',sans-serif;
    color:var(--main-bg-color);
    opacity: 50%;
}

.contactar-input{
	font-family: inherit;
	font-size: 1em;
	font-weight: 700;
	border: none;
    margin: 0 0 2em;
	color: var(--text-color);
	border-radius: 5px;
	padding: 10px 20px;
	background-color: #6246ea;
	background-image: linear-gradient(90deg, #6246ea 0%, #1dee85 100%);
	background-size: 300% 300%;
	animation: gradient 4s ease infinite;
	-webkit-animation: gradient 4s ease infinite;
    cursor: pointer;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.contactar-success{
    font-family: inherit;
    font-size: 1em;
    font-weight: 700;
    border: none;
    margin: 0 0 2em;
    background-color: var(--green-color);
    color: var(--main-bg-color);
    border-radius: 5px;
    padding: 10px 20px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}


/*Footer*/
footer{
    background-color: var(--primary-highlight-color);
}



.footer-container{
    
    padding: 2em;
    width: 80vw;
    margin: auto auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-icons{
    display: flex;
    flex-direction: column;
    width: 30vw;
}


footer img{
    width: 1.7em;
    margin: 15px 0 15px 0;
}

footer label{
    font-weight: 600;
    color: var(--main-bg-color);
    margin: auto 10px;
}

.footer-align{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-divider{
    border-left: 2px solid var(--main-bg-color);
    margin: auto auto;
    height: 8em;
    width: .1em;
}

.footer-data{
    color: var(--main-bg-color);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width:35vw;
    font-weight: 400;
}

/*Media queries*/

@media screen and (max-width:800px){
    .option-hide{
        display: block;
    }

    .burger-menu{
        display: block;
        margin: 0 20px 0 0;
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content:center;
        text-align: center;
        position:absolute;
        height: 100vh;
        width: 60%;
        top:0;
        left: 0;
        border-left: solid 4px var(--primary-highlight-color);
        border-bottom: solid 1px var(--primary-highlight-color) ;
        background-color: var(--main-bg-color);
        transform: translateX(180%);
        -webkit-transform: translateX(180%);
        -moz-transform: translateX(180%);
        -ms-transform: translateX(180%);
        -o-transform: translateX(180%);
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
}
    .show-menu{
        transition:all .5s ease-in-out;
        transform: translateX(70%);
        -webkit-transform: translateX(70%);
        -moz-transform: translateX(70%);
        -ms-transform: translateX(70%);
        -o-transform: translateX(70%);
        -webkit-transition:all .5s ease-in-out;
        -moz-transition:all .5s ease-in-out;
        -ms-transition:all .5s ease-in-out;
        -o-transition:all .5s ease-in-out;
}

.hamburger-menu-container{
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgba(82, 82, 82, 0.418);
    z-index: -1;
    top: 0;
    display: none;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.hamburger-menu-container-active{
    display: block;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

    .menu li{
        margin: 1.5em;
    }

    .navbar a{
        display: flex;
        flex-direction: column-reverse;
    }

    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    .info-content{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .img-main {
        width: 200px;
    }    

    .frontend-dev-text{
        font-size: 1.2em;
        margin: 0 0 5px 0;
    }
    
    .download-cv{
        margin-top: 15px;
    }

    .contact-links{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        margin: 0px 0 0 20px;
    }


    /*About Me*/

    .about img{
        display: none;
        z-index: -1;
        width: 100vw;
        filter: brightness(60%);
        -webkit-filter: brightness(60%);
}

    .about{
        margin: 20px auto;
        grid-template-columns: none;
        width: 100vw;
        background: linear-gradient(rgba(32, 32, 32, 0.5), rgba(0, 0, 0, 0.237)), url(/img/background3.png);
        background-attachment: fixed;
        /*background-image: url(/img/background3.png);*/
}

    .about-info{
        color: var(--main-bg-color);
        margin: auto auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px 0 20px;
    }

    /*Formacion*/
    .idiomas{
        margin-top:2vh;
        width: 100%;
    }

    .dev-image{
        display: none;
    }

    .que-hacer li{
        margin-left: 20px;
    }
    /*Skills section*/

    .skills{
        margin: auto auto;
        min-height: calc(100vh - 79px);
        width: 80vw;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .skills-text{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

    }
    
    .tecnologias{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 55vh;
        width: 95%;
        margin: auto auto;
    }
    

    /*Contact*/

    .contact-section{
        margin-top: 60px;
        background: var(--text-color);
    }

    .contact-container{
        height: 100%;
        width: 100%;
        margin: auto auto;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .contact-head{
        margin: .2em auto;
        height: 2.5em;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .contact-head h2{
        margin:auto auto;
        color: var(--main-bg-color);
        font-size: 1em;   
    }

    .contact-form{
        width: 70vw;
        margin: auto auto;
    }

    /*Footer*/

    footer label{
        display: none;
    }

    .footer-icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 11em;
    }

    .footer-align{
        margin: 10px 30px;
    }
}

/**Cambiar diseño de alert al enviar formulario y mejorar footer**/