@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #dceeff;
}

a{
    text-decoration: none;
    color: #fff;
}

.container{
    margin: auto auto;
    height: 100vh;
    width: 60vw;
    display: flex;
    justify-content: space-between;
    place-items: center;
}

h1{
    font-size: 60px;
    color: #0087f3;
    font-weight: 700;
}

.calculadora{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.theme-toggler{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor:pointer;
    z-index: 1;
}

.theme-toggler.active{
    color: #333;
}

.theme-toggler.active::before{
    background-color: #fff;
}

.theme-toggler::before{
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

#display{
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

#display::-webkit-scrollbar{
    display: block;
    height: 3px;
}

button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 15px;
    margin: 5px;
    font-size: 20px;
    cursor:pointer;
    transition: all 200ms ease;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

button:active{
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    box-shadow: none;
}

button #equal{
    height: 130px;
}

/* Light Theme */

.calculadora{
    background-color: #fff;
}

.calculadora #display{
    color: #0087f3;
}

.calculadora button#clear{
    background-color: #0087f3;
    color: #fff;
}

.calculadora button.btn-number{
    background-color: #fff;
    color:#000;
}

.calculadora button.btn-operator{
    background-color: #fff;
    color: #0087f3;
}

.calculadora button.btn-equal{
    background-color: #0087f3;
    color: #fff;
}

    /*Dark theme*/

.dark{
        background-color: #374352;
}

.dark #display{
    color: #f8fafd;
}

.dark button#clear{
    background-color: #374352;
    color: #98a3a2;
    box-shadow: 0 2px 2px rgba(233, 233, 233, 0.158);
}

.dark button.btn-number{
    background-color: #374352;
    color: #f8fafb;
    box-shadow: 0 2px 2px rgba(233, 233, 233, 0.158);
}

.dark button.btn-operator{
    background-color: #374352;
    color: #98a3a2;
    box-shadow: 0 2px 2px rgba(233, 233, 233, 0.158);
}

.dark button.btn-equal{
    background-color: #374352;
    box-shadow: 0 2px 2px rgba(233, 233, 233, 0.158);
    color: #98a3a2;
}